
// FullpageJS Style



#fp-nav ul li .fp-tooltip {
    color: white;
}


#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background-color: rgba(255, 255, 255, 0.729);
}


.fp-watermark {
    display: none;
}


// Larger screens Devices General

@media (min-width: 1600px) {
    /* Add custom styles for the dots at this resolution */
  
    /* Increase the size of the active navigation dot */
    #fp-nav ul li a.active span {
      width: 17px;
      height: 17px;
      /* Add any other styles for the active dot if needed */
    }
  
    .verticalPhoneImage {
        width: 35rem;
      }
      .horizontalPhoneImage{
        width: 70.875rem;
        height: 30.875rem;
      }
    /* Optional: Adjust styles for the default dots at this resolution */
    #fp-nav ul li a span,
    .fp-slidesNav ul li a span {
      width: 10px; 
      height: 10px; 
     
    }
    .homeTextParagraph,.aboutTextParagraph, .contactTextParagraph ,.introTextParagraph,.infoTextParagraph,.footerTextParagraph{
        font-size: 2rem;
    }

    .homeTextHeader,.aboutTextHeader,.contactTextHeader,.introTextHeader,.infoTextHeader,.footerTextHeader{
        font-size: 3rem;
    }

    .introTextContent{
        margin-left: 5rem;
    }

    .logo{
        width: 20vh;
        height: 20vh;
    }
    .telegram{
        width: 30rem;
        height: 8rem;
    
    }
    .appStore{
        width: 230px;
        height: 65px;
    }
    .playMarket{
        width: 230px;
        height: 65px;
    }
    #fp-nav.fp-show-active a.active+.fp-tooltip{
        font-size: 2rem;
    }
  }
  
  